*{
    font-family: nunito;
    font-weight:400;
    font-size: 20px;
}
:root{
    --primary: #8FB996;
    --background: #fff1da;
    --accent1:#9adb7c;
    --accent2:#ebc07d;
}
body,main{
    margin:0;
    padding:0;
    background-color: var(--accent2);
}
nav {
    background-color: var(--accent2);
    display:flex;
    height:89.9px;
    margin:0;
    padding:0;
    align-items:center;
    justify-content:space-between;
    text-align:center;
}
.logo{
    width:123px;
    height: 97px;
    margin:0;
    padding:0;
    border-radius:19px;
    justify-self:flex-start;
}
nav>ul{
    display:flex;
    align-items:center;
    list-style:none;
    text-decoration:none;
    justify-content:space-around;
    align-self:center;
    justify-self:center;
    padding-left:260px;
}
figure.account>a {
    text-decoration:none;
    justify-self:flex-end;
}
li>a{
    display:flex;
    align-items:center;
    list-style:none;
    text-decoration:none;
    justify-content:space-between;
    width:125px;
    padding:10px;
    background-color: var(--primary);
    color:black;
    margin-right:20px;
    text-align:center;
}