*{
    font-family: nunito;
    font-weight:400;
    font-size: 20px;
}
:root{
    --primary: #8fb996;
    --background:#fff1da;
    --accent1:#9adb7c;
    --accent2:#EBC07D;
}
body,main{
    margin:0;
    padding:0;
}
nav {
    background-color:var(--accent2);
    display:flex;
    height:89.9px;
    margin:0;
    padding:0;
    align-items:center;
    justify-content:space-between;
    text-align:center;
}
.logo{
    width:123px;
    height: 97px;
    margin:0;
    padding:0;
    border-radius:19px;
}
nav>ul,
li>a{
    display:flex;
    align-items:center;
    list-style:none;
    text-decoration:none;
    padding:0;
    justify-content:center;
}
figure.account>a {
    text-decoration:none;
    padding:12px;
    
}
li{
    padding:12px;
    justify-self:center;
    background-color: var(--background);
    border-radius: 100px;
    width: 100px;
    text-align:center;
}
